body {
    margin: 0;
   
}
  
.wrapper {
    height: 100vh;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 11px; 
}
  
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    font-family: sans-serif;
}

.background {
    transform: translateZ(-70px) scale(4); /* Parallax-liike taaksepäin */
    height: 200%;
    width: 200%;
}
  
.foreground {
    transform: translateZ(-20px) scale(3); /* Parallax-liike eteenpäin */
    height: 100%;
    width: 100%;
    
}

.background, .foreground {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}


  
.title {
    font-size: 7rem;
    align-items: center;
    color: white;
    text-shadow: 0 0 10px black;
    display: block !important;
}
.title2 {
    font-size: 3rem;
    align-items: center !important;
    color: rgb(213, 128, 0);
    text-shadow: 0 0 10px black;
    display: block !important;
}
.repo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 0.8rem solid rgba(238, 165, 7, 0.714);
    background-color: rgba(255, 255, 255, 0.188);
    align-items: center !important;
    display: block !important;
    margin: 1rem auto;
}
section {
    padding: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #333;
}

